body {
  width: 320px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 14px;
}

h2, h3 {
  margin-top: 10px;
}

#docList {
  margin-top: 10px;
  padding-left: 10px;
}

li {
  margin-bottom: 8px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 5px;
}
